<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <welcome-file-list>
    <welcome-file>bsHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>daric.vr.servlets.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>daric.vr.servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>daric.vr.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>daric.vr.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>daric.vr.servlets.Reserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>daric.vr.servlets.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Orders</servlet-name>
    <servlet-class>daric.vr.servlets.Orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CancelReservation</servlet-name>
    <servlet-class>daric.vr.servlets.CancelReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelReservation</servlet-name>
    <url-pattern>/cancelReservation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminLogIn</servlet-name>
    <servlet-class>daric.vr.servlets.AdminLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogIn</servlet-name>
    <url-pattern>/adminLogIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetCarTypes</servlet-name>
    <servlet-class>daric.vr.servlets.GetCarTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarTypes</servlet-name>
    <url-pattern>/getCarTypes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddCarType</servlet-name>
    <servlet-class>daric.vr.servlets.AddCarType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarType</servlet-name>
    <url-pattern>/addCarType</url-pattern>
  </servlet-mapping>


  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>